.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-test {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-test > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 2px dashed red;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.test1 {
  grid-column: 1 / 2;
}

.test2 {
  grid-column: 2 / 3;
}

.test3 {
  grid-column: 1 / 3;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / 7;
}

.item2 {
  grid-column: 1 / 5;
  height: 200px;
}

.item3 {
  grid-column: 5/ 7;
  height: 200px;
}

.item4 {
  grid-column: 1/ 3;
  height: 200px;
}

.item5 {
  grid-column: 3/5;
  height: 200px;
}

.item6 {
  grid-column: 5/7;
  height: 200px;
}

.item7 {
  grid-column: 1/4;
  height: 200px;
}

.grid-test {
  grid-column: 4/7;
  height: 200px;
}

.test {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.test > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* border:1px solid red; */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item8 {
  grid-column: 1/4;
}

.item9 {
  grid-column: 4/7;
}

.item10 {
  grid-column: 7/10;
}

.item11 {
  grid-column: 10/13;
}