body {
    background-color: #F9F9F9;
    font-family:'poppins';
}
input:focus:required {
    outline: none;
    border: 2px solid #C8122E;
    color: black;
}

select:focus {
    outline: none;
    /* border:2px solid #C8122E; */
    color: black;
}
select:focus:required {
    outline: none;
    border: 2px solid #C8122E;
    color: black;
}
input[type="email"],
input[type="number"],
input[type="text"],
input[type="submit"] {
    width: 30%;
    padding: 15px;
    margin: 25px;
    /* outline: none; */
    background: transparent;
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
select {
    width: 30%;
    height: 45px;
    padding: 15px;
    margin: 25px;
    background: transparent;
    /* outline: none; */
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
.card {
    width: 50%;
    background-color: #F9F9F9;
    color: #555555;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
.signup-button {
    border: none;
    background-color: #C8122E;
    padding: 15px;
    color: white;
   
}
input:focus::placeholder {
    font-size: 15px;
    position: relative;
    top: -14px;
    transition: 0.2s ease;
}
input::placeholder{
    font-family:'poppins';
    font-size: 18px;
}
select:invalid { color: gray;
    font-family:'poppins';
    font-size: 18px;
 }
input:hover::placeholder {
    font-size: 16px;
    position: relative;
    top: -15px;
    transition: 0.2s ease;

}

